


.my-header
{
    background-color:#0a6699;
    padding:15px;
    width:100%;
    
    
    
    }
    
    
    .my-list-padding
    {
        padding-right:52em;
        
        
        }
        .my-search
        {
            padding:100px 0px 0px 0px;
            
            
            }
            .my-location-padding
            {
                padding-right:140px;
                
                
                }
                .my-textbox
                {
                    display:inline;
                    float:left;
                    
                    
                    
                    }
    .tpad
    {
        padding:20px;
        }
    b.pad
    {
        
        padding:0px20px 20px 0px;
        }
       div.contpad
        {
            
            height:200px;
            
            padding:100px 0px 0px 20px;
            
            
            
            }
            .loginbc
            {
                background-color:#a3c1ad;
                
                
                }
input.form-fixer {
    padding: 10px;
    font-size: 15px;
      border-radius:80px;
      
}
.form-horizontal .form-group input, 
.form-horizontal .form-group select,
.form-horizontal .form-group label { 
    height: 14px;
    line-height: 14px;
}



/*****************************************************learn jpt*****************************************************************************/
  .trythis
 {
     float:left;
    
    
     border:1px solid #ddd;
     list-style:none;
     display:inline;
     
     
     
     }          
           
           
           
           .trythis
          {
             
              float:left ;
             
             
             -moz-transform-origin:bottom left;
             -moz-transition:-moz-transform 0.2s ease-in-out;
              
              
              }
              .trythis:hover
              {
             -moz-transform: scale(0.75) translate(20px,40px);
               -moz-box-shadow:10px 14px 10px rgba(0,0,0,0,1.5)   ;
                  
                  }