.my-header
{
    background-color:#0a6699;
    padding:15px;
    
    
    }
    
    
    .my-list-padding
    {
        padding-right:52em;
        
        
        }
        .my-search
        {
            padding:100px 0px 0px 0px;
            
            
            }
            .my-location-padding
            {
                padding-right:140px;
                
                
                }
                .my-textbox
                {
                    display:inline;
                    float:left;
                    
                    
                    
                    }
    .tpad
    {
        padding:20px;
        }
    b.pad
    {
        
        padding:0px20px 20px 0px;
        }
       div.contpad
        {
            
            height:200px;
            
            padding:100px 0px 0px 20px;
            
            
            
            }
            .loginbc
            {
                background-color:#a3c1ad;
                
                
                }
input.form-fixer {
    padding: 10px;
    font-size: 15px;
      border-radius:80px;
      
}
.form-horizontal .form-group input, 
.form-horizontal .form-group select,
.form-horizontal .form-group label { 
    height: 14px;
    line-height: 14px;
}s