.my-header
{
    background-color:#0a6699;
    padding:15px;
    
    
    }
    
    
    .my-list-padding
    {
        padding-right:52em;
        
        
        }
        .my-search
        {
            padding:100px 0px 0px 0px;
            
            
            }
            .my-location-padding
            {
                padding-right:140px;
                
                
                }
                .my-textbox
                {
                    display:inline;
                    float:left;
                    
                    
                    
                    }
    .tpad
    {
        padding:20px;
        }
    b.pad
    {
        
        padding:0px20px 20px 0px;
        }
       div.contpad
        {
            
            height:200px;
            
            padding:100px 0px 0px 20px;
            
            
            
            }
            .loginbc
            {
                background-color:#a3c1ad;
                
                
                }
input.form-fixer {
    padding: 10px;
    font-size: 15px;
      border-radius:80px;
      
}
.form-horizontal .form-group input, 
.form-horizontal .form-group select,
.form-horizontal .form-group label { 
    height: 14px;
    line-height: 14px;
}
/*******************************************************************sidebar**************************/
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}